$default-color: #444;
$light-color: #666;
$lighter-color: #999;
$link-color: #007fff;

$background-color: #fff;
$border-color: #ddd;
$hover-color: #eee;

$scrollbar-track-color: #eee;
$scrollbar-thumb-color: #999;
$scrollbar-thumb-hover-color: #666;

$icon-button-color: #666;
$icon-button-hover-color: #333;

$default-avatar-background-color: #ddd;
$default-avatar-icon-color: #666;